<div class="container">
<p id="notice"><%= notice %></p>

<h1>Listing Foods</h1>
<div class="input-group"> <span class="input-group-addon"><i class='glyphicon glyphicon-search'></i></span>

   <input id="filter" type="text" class="form-control" placeholder="Type here...">
   </div>
   <br>
<table class="table table-striped">
  <thead >
    <tr>
      <th>Name</th>
      <th>Restaurant</th>
      <th>Calories</th>
      <th>Fat grams</th>
      <th>Location</th>
      <th>Picture</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="searchable">
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.rest_name %></td>
        <td><%= food.cal %></td>
        <td><%= food.fat %></td>
        <td><%= food.sugar %></td>
        <td><%= food.location %></td>
        <td><%= image_tag(food.picture_url, :width => 80) if food.picture.present? %></td>
        <td><button type="button" class="btn verde" ><%= link_to 'Show', food %></td></button>
        <td><button type="button" class="btn btn-warning" ><%= link_to 'Edit', edit_food_path(food) %></td></button>
        <td><button type="button" class="btn btn-danger" ><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td></button>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn verde" ><%= link_to 'New Food', new_food_path %></button>
<script>
  $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});
</script>
