<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">Azalea Health</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="<%= root_path %>">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <% if session[:user_id] %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="">Food</a></li>
                <li><a href="<%=goals_path %>">Goals</a></li>
                <li><a href="/users/<%= session[:user_id] %>/tracking">Tracking</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Mental Well-Being</a></li>
                <li><a href="#">Resources</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="<%= user_path(session[:user_id]) %>">My info</a></li>
              </ul>
            </li>

            
              <li> <%= link_to 'Log out', 
                  logout_path,
                  method: :delete,
                  action: :logout,
                  controller: :sessions
                  %> </li>
            <% else %>
              <li> <%= link_to 'Log in', login_path %> </li>
            <% end %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>    
<br><br><br>


